*{
    margin:0;
    padding:0;
}

header{
    background:black;
    text-align:center;
}

body{
    background:linear-gradient(to left,black,rgb(10, 91, 240),black);
    text-align:center;
}

.image{
    border:1px solid white;
    border-radius: 10%;
    transition: .2s;
}

.image:hover{
    transform:scale(1.2);
}